.submission-container {
  margin: auto;
  background-color: #60463b;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  width: 100%;
  height: 100vh;
}
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.input-field {
  padding: 8px;
  border: 1px solid wheat;
  border-radius: 4px;
}
.submission-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: wheat;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.back-button {
  padding: 10px 20px;
  background-color: #b54040;
  color: wheat;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.loader {
  width: 38px;
  height: 38px;
  border: 5px solid wheat;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
